
<%- include("../partials/header") %>

        <header class="jumbotron">
            <div class="container">
                <h1>Welcome To Museum Fever</h1>
                <p>
                    View our hand-picked museums from all over the world
                </p>
                <p>
                    <a class= "btn btn-primary btn-lg" href="/museums/new">Add New Museum</a>
                </p>
                <p>
                    <form action= '/museums'method="GET" class= "form-inline">
                        <div class="form-group">
                            <input type="text" name="search" placeholder = "Museum Search..." class= "form-control">
                            <button class= "btn btn-success ml-1">Submit</button>
                        </div>
                    </form>
                </p>
            </div>
        </header>
        <div class="row text-center" >
            <% museums.forEach(museum => {%>
                <div class= "col-md-3 col-sm-6 mb-4">
                    <div class="card h-100">
                        <img src="<%= museum.image %>" class="card-img-top museumIndexImg" alt="<%= museum.name %>">
                        <div class="card-body">
                          <h5 class="card-title"><%= museum.name %></h5>
                          <hr class="mb-0 mt-0">
                          <div class="mb-2">
                                <!-- Check Museum rating and toggle checked class if rating is created than given values  -->
                                <% if (museum.rating === 0) { %>
                                    <em>No reviews yet.</em>
                                <% } else { %>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star <% if (museum.rating > 1.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (museum.rating > 2.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (museum.rating > 3.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (museum.rating > 4.5) { %> checked <% } %>"></span>
                                <% } %>
                          </div>
                          <a href="/museums/<%= museum._id%>" class="btn btn-primary">More Info</a>
                        </div>
                      </div>
                </div>

            <%});%>
        </div>
        <!--Bootstap 4 Pagination-->
        <nav aria-label="Page navigation">
            <% if (pages && pages > 0) { %>
            <ul class="pagination justify-content-center">
                <% if (current == 1) { %>
                <li class="page-item disabled"><a class="page-link">First</a></li>
                <% } else { %>
                <li><a class="page-link" href="/museums">First</a></li>
                <% } %>
         
                <% if (current == 1) { %>
                <li class="page-item disabled"><a class="page-link">«</a></li>
                <% } else { %>
                <li><a class="page-link" href="/museums?page=<%= Number(current) - 1 %>">«</a></li>
                <% } %>
         
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                <li class="active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                <li><a class="page-link" href="/museums?page=<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% } %>
         
                <% if (current == pages) { %>
                <li class="page-item disabled"><a class="page-link">»</a></li>
                <% } else { %>
                <li><a class="page-link" href="/museums?page=<%= Number(current) + 1 %>">»</a></li>
                <% } %>
         
                <% if (current == pages) { %>
                <li class="page-item disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                <li><a class="page-link" href="/museums?page=<%= pages %>">Last</a></li>
                <% } %>
            </ul>
            <% } %>
        </nav>

    

<%- include("../partials/footer") %>